<a href="https://colab.research.google.com/github/Muhammad-Mubashar516/SQL-Sub-chapter-2.2-Data-Modification/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

# Connect
conn = sqlite3.connect(":memory:")
cur = conn.cursor()

print("\n===== Creating Demo Table =====")
cur.execute("""
CREATE TABLE students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    grade TEXT DEFAULT 'Not Assigned'
)
""")
conn.commit()
print("Table 'students' created.\n")


# Topic 1
print("=== Topic 1: INSERT INTO Basics ===")
cur.execute("INSERT INTO students (name, age, grade) VALUES ('Ali', 20, 'A')")
conn.commit()

# Topic 2
print("\n=== Topic 2: Inserting Single Row ===")
cur.execute("INSERT INTO students (name, age, grade) VALUES ('Sara', 22, 'B')")
conn.commit()

# Topic 3
print("\n=== Topic 3: Inserting Multiple Rows ===")
cur.executemany(
    "INSERT INTO students (name, age, grade) VALUES (?, ?, ?)",
    [
        ('Ahmed', 19, 'A'),
        ('Zara', 21, 'C'),
        ('Hamza', 23, 'B')
    ]
)
conn.commit()


# Topic 4
print("\n=== Topic 4: Inserting from SELECT ===")
cur.execute("""
INSERT INTO students (name, age, grade)
SELECT name, age, grade FROM students WHERE grade = 'A'
""")
conn.commit()


# Topic 5
print("\n=== Topic 5: UPDATE Statement ===")
cur.execute("UPDATE students SET grade='Updated'")
conn.commit()


# Topic 6
print("\n=== Topic 6: UPDATE with WHERE ===")
cur.execute("UPDATE students SET grade='A+' WHERE name='Ali'")
conn.commit()


# Topic 7
print("\n=== Topic 7: DELETE Statement ===")
cur.execute("DELETE FROM students")
conn.commit()


# Insert rows again
cur.executemany(
    "INSERT INTO students (name, age) VALUES (?, ?)",
    [('Ali', 20), ('Sara', 22), ('Ahmed', 19)]
)
conn.commit()


# Topic 8
print("\n=== Topic 8: DELETE with WHERE ===")
cur.execute("DELETE FROM students WHERE name='Sara'")
conn.commit()


# Topic 9 â€” FIXED TRUNCATE
print("\n=== Topic 9: TRUNCATE Table ===")
cur.execute("DELETE FROM students")
cur.execute("DELETE FROM sqlite_sequence WHERE name='students'")
conn.commit()


# Insert rows for remaining topics
cur.executemany(
    "INSERT INTO students (name, age) VALUES (?, ?)",
    [('Ali', 20), ('Zara', 21)]
)
conn.commit()


# Topic 10
print("\n=== Topic 10: Default Values in INSERT ===")
cur.execute("INSERT INTO students (name, age) VALUES ('Hamza', 23)")
conn.commit()


# Topic 11
print("\n=== Topic 11: RETURNING Clause ===")
cur.execute("INSERT INTO students (name, age) VALUES ('Noor', 18) RETURNING id, name")
print("Returned:", cur.fetchone())


# Topic 12
print("\n=== Topic 12: Safe Updates (MySQL ONLY) ===")
print("SQLite does NOT support SQL_SAFE_UPDATES.\n")


# Show final data
print("\n===== FINAL DATA =====")
for row in cur.execute("SELECT * FROM students"):
    print(row)

conn.close()

===== Creating Demo Table =====
Table 'students' created.

=== Topic 1: INSERT INTO Basics ===

=== Topic 2: Inserting Single Row ===

=== Topic 3: Inserting Multiple Rows ===

=== Topic 4: Inserting from SELECT ===

=== Topic 5: UPDATE Statement ===

=== Topic 6: UPDATE with WHERE ===

=== Topic 7: DELETE Statement ===

=== Topic 8: DELETE with WHERE ===

=== Topic 9: TRUNCATE Table ===

=== Topic 10: Default Values in INSERT ===

=== Topic 11: RETURNING Clause ===
Returned: (4, 'Noor')

=== Topic 12: Safe Updates (MySQL ONLY) ===
SQLite does NOT support SQL_SAFE_UPDATES.


===== FINAL DATA =====
(1, 'Ali', 20, 'Not Assigned')
(2, 'Zara', 21, 'Not Assigned')
(3, 'Hamza', 23, 'Not Assigned')
(4, 'Noor', 18, 'Not Assigned')